body {
    font-family: tahoma, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.main {
    margin-top: 20px;
}

form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.input {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.submit {
    text-align: center;
    margin-top: 15px;
}

input[type="submit"] {
    background-color: rgb(153, 188, 157);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: rgb(95, 118, 95);
    transform: scale(0.98);
}